<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav class="nav">
        <ul class="nav__item-list">
            <li class="nav__item">
                <a href="/institution">Institution</a>
            </li>
        </ul>
    </nav>

    <main>
        <% if (data.length > 0) { %>
            <div class="grid">
                <% for (let institutions of data) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= institutions.title %></h1>
                        </header>

                        <div class="card__content">
                            <p class="product__price">telefone: <%= institutions.phone %></p>
                        </div>
                        <div class="card__content">
                            <p class="product__price">endereço: <%= institutions.address %></p>
                        </div>
                        <div class="card__content">
                            <p class="product__price">cnpj: <%= institutions.cnpj %></p>
                        </div>
                        <div class="card__content">
                            <p class="product__price">razão social: <%= institutions.socialReason %></p>
                        </div>
                        <div class="card__content">
                            <p class="product__price">token: <%= institutions.token %></p>
                        </div>
                        <div class="card__content">
                            <p class="product__price">distritito sanitario: <%= institutions.sanitaryDistrict %></p>
                        </div>
                        
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>Sem escolas cadastradas!</h1>
        <% } %>
    </main>

</body>
</html>