<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>ZikaWeb</title>
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css" >
      <link href="/../css/style.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link rel="stylesheet" type="text/css" href="../vendor/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="../vendor/simple-line-icons/css/simple-line-icons.css">
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli">
      <!-- Custom styles for this template -->
      <link rel="stylesheet" type="text/css" href="../css/new-age.min.css">
   </head>
   <body id="page-top">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
         <div class="container">
            <h3> Zika Web </h3>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <h5><a id="signinlink" href="/">Entrar</a>
            </div>
            </h5>
            </li>            
            </ul>
         </div>
         </div>
      </nav>
      <!-- Fim Navigation -->
      <!-- Cadastro -->
      <section class="cadastro" id="cadastro">
         <div class="container">
         <div class="row">
            <div class="col-lg-8 my-auto">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-12">
                        <div class="feature-item">
                           <form method="post" action="/ranking/estudantes">
                           <h3>RANKING ESTUDANTES</h3>
                           <div style="padding-top:30px" class="panel-body" >
                              <input name="SearchBox" type="text" value="<%=SearchBoxValue%>" id="SearchBox"> 
                              <input name="Search" type="Submit" value="Search">
                              <label id="msgBox" style="color:green"><%=message%></label>
                              <input type="hidden" value="<%=message%>" id="msg">
                              <table border="1" cellpadding="7" cellspacing="10">
                                 <tr>
                                    <th width="100px">No</th>
                                    <th>Nome</th>
                                    <th>Pontos</th>
                                    <th width="150">Escola</th>
                                 </tr>
                                 <% if(data.length){ 
                                    for(var i = 0; i < data.length;i++) {%>
                                 <tr>
                                    <td><%=(i+1)%></td>
                                    <td><%=data[i].name%></td>
                                    <td><%=data[i].points%></td>
                                    <td><%=data[i].school_name%></td>
                                 </tr>
                                 <% }
                                    }else{ %>
                                 <tr>
                                    <td colspan="8">Sem alunos</td>
                                 </tr>
                                 <% } %>
                              </table>
                           </div>
                        </div>
                        <a class="btn btn-info" href="../sistema">voltar</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Fim Cadastro-->
      <footer>
         <div class="container">
            <p>&copy; Your Website 2018. All Rights Reserved.</p>
            <ul class="list-inline">
               <li class="list-inline-item">
                  <a href="#">Privacy</a>
               </li>
               <li class="list-inline-item">
                  <a href="#">Terms</a>
               </li>
               <li class="list-inline-item">
                  <a href="#">FAQ</a>
               </li>
            </ul>
         </div>
      </footer>
      <!-- Bootstrap core JavaScript -->
      <script type="text/js" src="vendor/jquery/jquery.min.js"></script>
      <script type="text/js" src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Plugin JavaScript -->
      <script type="text/js" src="../vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Custom scripts for this template -->
      <script type="text/js"src="../js/new-age.min.js"></script>
   </body>
</html>