<%- include layouts/header.ejs %>
<div class="page-data">
   <form method="post" action="/sistema/edit/<%=data[0].id%>">
      <table cellpadding="11">
         <tr>
            <td class="label">Name</td>
            <td>: <input type="text" name="name" value="<%=data[0].name%>" required></td>
         </tr>
         <tr>
            <td class="label">Email</td>
            <td>: <input type="text" value="<%=data[0].email%>" name="email" required></td>
         </tr>
         <tr>
            <td class="label">Senha</td>
            <td>: <input type="text" name="password" value="<%=data[0].password%>" required></td>
         </tr>
         <tr>
            <td class="label"></td>
            <td>
               &nbsp; <input type="submit" name="submit" value="Save">
               <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
            </td>
         </tr>
      </table>
   </form>
</div>
<%- include layouts/footer.ejs %>